<!DOCTYPE html>
<html>
    <head>
        <title>Mini Notes App</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>Student Notes</h1>
        
        <form method="POST">
            <textarea name = "note"></textarea><br>
            <button type = "submit">Add Note</button>
        </form>

        <button type="submit" name="action" value="Summarise">Summarise</button>
        
        <h2>All Notes:</h2>
        <ul>
            {% for note in notes %}
                <li>{{ note }}</li>
            {% endfor %}
        </ul>

        {% if summary %}
            <h2>AI Summary</h2>
            <p>{{ summary }}</p>
        {% endif %}

    </body>
</html>